.center {
    text-align: center;
}
.link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
}
.info {
    color: black;
    background-color: #e4f2f8;
    margin: auto;
    padding: 15px 10px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
}
.code {
    font-family: monospace;
}
.container {
    margin-top: 30px;
}

img {
    max-width: 150px;
}

.greeting {
    height: 75px;
}

.slds-form-element {
    position: relative;
    width: fit-content;
}

.slds-card {
    position: absolute;
    right:40%;
    top: 30%;
    left: auto;
    padding: 30px;
    background: white;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
